# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/

# Playwright
playwright-report/
test-results/

# Streamlit
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db